@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .certificates
    {
        background-color: #006DAA;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .certificates_title
    {
        color: white;
        font-family: "ADLaM Display", serif;
        font-style: normal;
        font-size: calc(2vw + 2vh + 0.3rem);
        text-align: center;
    }

    .certificates_display
    {
        /* Creame un display en grid de 3 columnas por fila , hasta ahora uan fila , y en caso de que se reduzca el tamaño de la pantalla haz el grid responsivo */
        display: grid;
        overflow: hidden;
        width: 100%;
    }

    .certificates_slider
    {
        display: flex;
        animation: scroll 40s linear infinite;
        animation-delay: -20s; /* mitad de la duración */
        margin : auto;
        width: max-content;
        position: relative;
        place-items: center;
        gap: 40px;
    }

    .certificates_slider:hover
    {
        animation-play-state: paused;
    }

    @keyframes scroll
    {
        from
        {
            transform: translateX(0%);
        }
        to
        {
            transform: translateX(-50%);
        }
    }



}